.colorswatches {
  min-height: 110px;

  .one {
    width: 28px;
    height: 27px;
    background: #c4c4c4;
    border: 0.25px solid #c4c4c4;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  .two {
    width: 28px;
    height: 27px;
    background: #f16f65;
    border: 0.25px solid #c4c4c4;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  .three {
    width: 28px;
    height: 27px;
    background: #f6bdd6;
    border: 0.25px solid #c4c4c4;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  .four {
    width: 28px;
    height: 27px;
    background: #faecd8;
    border: 0.25px solid #c4c4c4;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  .five {
    width: 28px;
    height: 27px;
    background: #231e1f;
    border: 0.25px solid #c4c4c4;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  .six {
    width: 28px;
    height: 27px;
    background: #231e1f;
    border: 0.25px solid #c4c4c4;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  .seven {
    width: 28px;
    height: 27px;
    background: #dd7264;
    border: 0.25px solid #c4c4c4;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  .eight {
    width: 28px;
    height: 27px;
    background: #df001d;
    border: 0.25px solid #c4c4c4;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
}
