.navbar {
  padding-top: 0 !important;
  background-color: #fff;
  padding: 1rem 1rem 0rem 1rem;
  box-shadow: 0 2px 5px #f5f5f5;

  .container {
    position: relative;

    .navsearch {
      width: 100%;
      background-color: #efefef;
      border: 0;
      border-radius: 5px;
      padding: 10px 15px;
      color: #333;
      font-size: 13px;
    }

    ul.actionbuttons li a {
      line-height: 16px;
    }

    .righside {
      .dropdown-menu {
        width: auto;
        left: unset !important;
        width: auto !important;

        .nav-item .nav-link {
          border-bottom: 2px solid #c4c4c4 !important;
        }
      }
    }
  }
}

.navbar-expand-md .navbar-collapse {
  margin-top: 0rem;
}

ul.navbar-nav li.active,
ul.navbar-nav li a:hover {
  color: #ff8e0a !important;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  width: 100vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.logo {
  max-width: 140px;
}

.textinfo .nav-tabs .nav-item.show .nav-link,
.textinfo .nav-tabs .nav-link.active {
  background-color: #f5f5f5 !important;
}

.textinfo .nav-tabs .nav-item .nav-link,
.textinfo .nav-tabs .nav-link {
  border-bottom: 2px solid #c4c4c4 !important;
}

.textinfo .nav-tabs .nav-item.show .nav-link,
.textinfo .nav-tabs .nav-link.active {
  border: 0 !important;
  border-bottom: 2px solid #ff8e0a !important;
}
